
		{# <img src="{{ url("theme://images/01.jpg" ~ widget.image) }}" alt="{{ widget.text|e }}" /> #}

    <nav>
        <a href="blog">
            <div class="categoria blog">
                <div class="cover">
                    <h2 class="title-card">Blog</h2>
                    {# Artigos da equipe #}
                </div>
            </div>
        </a>

        <a href="ferramentas">
            <div class="categoria artigos">
                <div class="cover">
                    <h2 class="title-card">Ferramentas</h2>
                    {# Dicas de programas #}
                </div>
            </div>
        </a>

        <a href="aprenda">
            <div class="categoria aprenda">
                <div class="cover">
                    <h2 class="title-card">Aprenda</h2>
                </div>
                {# Dicas de cursos e treinamentos gratuitos #}
            </div>
        </a>

        <a href="colabore">
            <div class="categoria colabore">
                <div class="cover">
                    <h2 class="title-card">Colabore</h2>
                    {# Quem somos #}
                </div>
            </div>
        </a>

        <a href="encontros">
            <div class="categoria encontros">
                <div class="cover">
                    <h2 class="title-card">Encontros</h2>
                    {# Aqui coloca dá pra colocar link para a lista de discussão #}
                </div>
            </div>
        </a>

        <a href="conecte">
            <div class="categoria conecte">
                <div class="cover">
                    <h2 class="title-card">Conecte-se</h2>
                    {# Redes sociais e links de páginas mulheres na tecnologia #}
                </div>
            </div>
        </a>

    </nav>

{#             <div class="gnu-stream">
                Stream GNU Social
            </div> #}