    <div class="center">
        <a href="{{ base_url }}"><img src="{{ url("theme://images/logo.svg" ~ widget.image) }}" alt="{{ widget.text|e }}" class="logo" /></a>

        <h1 class="title">{{ site.title }}</h1>
    </div>