{% extends 'partials/index.html.twig' %}

{% block content %}
	<div class="container post">
		<h1>
    	A página que você está procurando não foi encontrada.</h1> 
    	<h2 align="center">Tem certeza que digitou o endereço correto?</h2>
    </h1>
   	</div>
{% endblock %}
